.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.row {
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
}
.row.spaced {
  margin-bottom: 20px;
  margin-top: 20px;
}

.col {
  display: inline-block;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.box {
  background: coral;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: white;
  padding: 30px;
}
.box.large {
  padding: 100px;
}

@media (min-width: 40em) {
  .col-whole {
    width: 100%;
  }

  .col-half {
    width: 50%;
  }

  .col-third {
    width: 33.3333%;
  }

  .col-two-third {
    width: 66.6667%;
  }

  .col-fourth {
    width: 25%;
  }

  .col-three-fourth {
    width: 75%;
  }

  .col-fifth {
    width: 20%;
  }

  .col-two-fifth {
    width: 40%;
  }

  .col-three-fifth {
    width: 60%;
  }
}
.row-left {
  text-align: left;
}

.row-center {
  text-align: center;
}

.row-right {
  text-align: right;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}
