// ----------------------------------------------------------------------------
// The Grid
// Structure and layout
//
// 1. Universal grid structure
// 2. Breakpoints
// 3. Grid overrides
// ----------------------------------------------------------------------------

// Import Grits dependency
@import '../../grits';

// ----------------------------------------------------------------------------
// 1. Universal grid structure
// ----------------------------------------------------------------------------

// Global container object
.container {
  @include grits-container();
}

// Column container
.row {
  @include grits-row();

  &.spaced {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

// Column base object
.col {
  @include grits-col();
}

.box {
  background: coral;
  border: 2px solid rgba(0, 0, 0, .3);
  color: white;
  padding: 30px;

  &.large {
    padding: 100px;
  }
}


// ----------------------------------------------------------------------------
// 2. Breakpoints
// ----------------------------------------------------------------------------
// Grid widths
$grid: (
  whole        : 100%,
  half         : 50%,
  third        : 1/3,
  two-third    : 2/3,
  fourth       : 25%,
  three-fourth : 75%,
  fifth        : 1/5,
  two-fifth    : 40%,
  three-fifth  : 60%
);

@media (min-width: 40em) {
  @each $width, $value in $grid {
    .col-#{$width} {
      @include grits-mq-col($value);
    }
  }
}

// ----------------------------------------------------------------------------
// 3. Grid overrides
// ----------------------------------------------------------------------------

.row-left {
  @include grits-justify(left);
}

.row-center {
  @include grits-justify(center);
}

.row-right {
  @include grits-justify(right);
}

.col-top {
  @include grits-align(top);
}

.col-middle {
  @include grits-align(middle);
}

.col-bottom {
  @include grits-align(bottom);
}
