/// Create single column with gutter
/// @author Azin Asili
/// @access public
/// @param {number} $width [100%] - Width of column
/// @param {number} $gutter [map-get($grits, gutter)] - Padding for column gutter
/// @param {number} $shift [null] - Shift source ordering of column
/// @require {function} _grits-is-gutter - Calculate gutter for row or column
/// @require {function} _grits-is-float - Check if number is a float
/// @output CSS to create column with gutters
/// @example scss
///   .foo {
///     @include grits-column(3/5, 1/3, 40px);
///   }
/// @example css
///   .foo {
///     display: inline-block;
///     font-size: 1rem;
///     padding-left: 20px;
///     padding-right: 20px;
///     width: 60%;
///     left: 33.33%;
///     position: relative;
///   }
@mixin grits-column($width: 100%, $shift: null, $gutter: map-get($grits, gutter)) {
  display: inline-block;
  font-size: 1rem;
  padding-left: _grits-is-gutter($gutter, col);
  padding-right: _grits-is-gutter($gutter, col);
  width: _grits-is-float($width);

  @if $shift != null {
    left: _grits-is-float($shift) * -1;
    position: relative;
  }
}

/// Alias for `grits-column()` mixin
/// @alias grits-column
@mixin grits-col($args...) {
  @include grits-column($args...);
}
