/// Column span meant for use inside media queries
/// @author Azin Asili
/// @access public
/// @param {number} $width [100%] - Width of column span
/// @param {number} $shift [null] - Shift source ordering of column span
/// @require {function} _is-float - Check if number is a float
/// @output CSS to create column without gutters within a media query
/// @example scss
///   .foo {
///     @include grt-mq-span(3/6);
///   }
/// @example css
///   .foo {
///     width: 60%;
///   }
@mixin grt-mq-span($width: 100%, $shift: null) {
  width: _is-float($width);

  @if $shift != null {
    left: _is-float($shift) * -1;
    position: relative;
  }
}
