/// Create single column without gutter
/// @author Azin Asili
/// @access public
/// @param {number} $width [100%] - Width of column span
/// @param {number} $shift [null] - Shift source ordering of column span
/// @require {function} _is-float - Check if number is a float
/// @output CSS to create column without gutters
/// @example scss
///   .foo {
///     @include grt-span(3/5, 2/5);
///   }
/// @example css
///   .foo {
///     display: inline-block;
///     float: left;
///     width: 60%;
///     left: -40%;
///     position: relative;
///   }
@mixin grt-span($width: 100%, $shift: null) {
  display: inline-block;
  font-size: 1rem;
  width: _is-float($width);

  @if $shift != null {
    left: _is-float($shift) * -1;
    position: relative;
  }
}
