/// Create container for grid columns
/// @author Azin Asili
/// @access public
/// @param {number} $gutter [map-get($grits, gutter)] - Negative margin left and right to display columns
/// @require {function} _grt_is-gutter - Calculate gutter for row or column
/// @output Margins to properly hold columns
/// @example scss
///   .foo {
///     @include grt-offset(40px);
///   }
/// @example css
///   .foo {
///     font-size: 0;
///     margin-left: -20px;
///     margin-right: -20px;
///   }
@mixin grt-row($gutter: map-get($grits, gutter)) {
  font-size: 0;
  margin-left: _grt_is-gutter($gutter, row);
  margin-right: _grt_is-gutter($gutter, row);
}
